<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="product.css">
</head>
<body>

    <div class="main">
        <div class="header">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Audi</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Inventory</a></li>
                        <li><a href="#">Models</a></li>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">T&C</a></li>
                    </ul>
                </div>
    
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Enter search term">
                    <a href="#"> <button class="btn">Search</button></a>
                </div>
    
            </div> 
    	</div>
        
    <main class="container">
	<div class="left-col">
		<img data-image="black" src="A.png" alt="">
		<img data-image="blue" src="images/black.png">
		<img data-image="red" class="active" src="A.png">
	</div>

	<div class="right-col">
		<div class="product-description">
		<span>Sedan<span>
		<br>
		<h1>Audi A3</h1>
		<p>Known for it's beast engine and outlandish looks</p>

		<div class="product-configuration">
			<div class="product-color">
				<span>Color</span>
				<div class="color-choose">
					<div>
						<input data-image="red" type="radio" id="red" name="color" value="red" checked>
						<label for="red"><span></span></label>
					</div>
					<div>
						<input data-image="blue" type="radio" id="blue" name="color" value="blue">
						<label for="blue"><span></span></label>
					</div>				
					<div>
						<input data-image="black" type="radio" id="black" name="color" value="black">
						<label for="black"><span></span></label>
					</div>						
				</div>		
			</div>
	
			<div class="product-pricing">
				<p>Ex-showroom</p>
				<span>Rs 79,000,00<span>
				<br>
				<br>
				<a href="#" class="cart-btn">Add to cart</a>
			</div>		
		</div>
	</div>
    
    </main>
           

       
                
           
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
