<html>
<head>
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="main">
        <div class="header">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Audi</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/exports/AG21/audi/view/index.html">Home</a></li>
                        <li><a href="/exports/AG21/audi/layouts/show.html">Inventory</a></li>
                        <li><a href="/exports/AG21/audi/view/tnc.html">T&C</a></li>
                    </ul>
                </div>
    
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Enter search term">
                    <a href="#"> <button class="btn">Search</button></a>
                </div>
    
            </div> 
        </div>
        
        <div class="content">
		<h2 class="tnc" >Terms and Conditions</h2><br><br>
            	<p class="tnc">
 			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet
quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
a quae totam ipsa illum minus laudantium?
	`	</p>
                
        </div>
    </div>
</body>
</html>
